# Programing : Python

In [2]:
print ('welcome to jupyter')

welcome to jupyter

In [4]:
age = 22 
print(age)

22

# DATA TYPE

In [6]:
type(age)

int

In [9]:
cgpa = 3.0
print(cgpa)

3.0

In [11]:
type(cgpa)

float

In [13]:
name = 'shahzaib'
print(name)

shahzaib

In [15]:
type(name)

str

# GETTING USER'S INPUT

In [8]:

f_name = input("Please enter your id name: ")
print(f_name)

Please enter your id name:  shahzaib

shahzaib

In [10]:
type(f_name)

str

# converting input to integer

In [12]:
cgpa = float(input("GPA: "))
type(cgpa)

GPA:  3.97

float

In [14]:
x = 7 + 4j
print(x)
print(type(x))

(7+4j)
<class 'complex'>

In [15]:
s = 50
a = 40

# SUM

In [17]:
sum = (s + a)
print(sum)

90

# SUBTRACT

In [19]:
subtract = ( s-a)
print (subtract)

10

# multiply

In [21]:
multiply = ( s * a)
print (multiply)

2000

# division

In [23]:
division = (s / a)
print (division)

1.25

In [25]:
num1 = 100
num2 = 50

print(f"Addition: {num1 + num2}")
print(f"Subtraction: {num1 - num2}")
print(f"Multiplication: {num1 * num2}")
print(f"Division: {num1 / num2}")

Addition: 150
Subtraction: 50
Multiplication: 5000
Division: 2.0

# Changing Data Types Explicitly & Implicitly

# 1. Implicit Conversion (Automatic)

In [27]:
num_int = 12     
num_float = 3.5
result = num_int + num_float  
print(f"Result: {result} (Type: {type(result)})")

Result: 15.5 (Type: <class 'float'>)

# 2. Explicit Conversion (Manual)

In [29]:
a = '100' 
a = int(a)
print(type(a))

<class 'int'>

In [31]:
a = '10' 
a = float(a)
print(type(a))

<class 'float'>

In [33]:
s = 'false'
s = bool(s)
print(type(s))

<class 'bool'>

In [35]:
s = '4+9j'
s = complex(s)
print(type(s))

<class 'complex'>

In [39]:
a = 122
a = str(a)
print(type(a))

<class 'str'>

In [41]:
a = 133
a = complex(a)
print(type(a))

<class 'complex'>

In [43]:
a = 40
a = bool(a)
print(type(a))

<class 'bool'>

# 3. Common Use Cases

In [45]:
age = input("Enter your age: ")
print(type(age))

Enter your age:  22

<class 'str'>

In [47]:
age = int(input("Enter age: "))  # Convert input to integer
print(type(age))

Enter age:  22

<class 'int'>

# String Formatting

In [49]:
print("Value: " + str(22))

Value: 22

# String

# Concatenated string

In [51]:
str1 = "I am student at BS Computer science"
str2 = "Risalpur"

full = str1 + " " + str2 + "."
print(full)

I am student at BS Computer science Risalpur.

# Upper Case

In [53]:
full.upper()

'I AM STUDENT AT BS COMPUTER SCIENCE RISALPUR.'

# Lower Case

In [54]:
full.lower()

'i am student at bs computer science risalpur.'

# Capitalize

In [56]:
full.capitalize()

'I am student at bs computer science risalpur.'

# Capital Each Word

In [58]:
full.title()

'I Am Student At Bs Computer Science Risalpur.'

# Strip

In [60]:
full.strip()

'I am student at BS Computer science Risalpur.'

# Replace

In [62]:
full.replace("Risalpur", "Nowshera")

'I am student at BS Computer science Nowshera.'

# Find

In [64]:
full.find('Nowshera')

-1

# Indexing

In [66]:
full[1]

' '

In [68]:
full[0]

'I'

In [71]:
full[:59]

'I am student at BS Computer science Risalpur.'

In [73]:
full[2:-1]

'am student at BS Computer science Risalpur'

# Bool

In [77]:
is_sunny = True

if is_sunny:
    print("It is Sunny")
else:
    print("It is Raining")

It is Sunny

In [79]:
is_raining = False

if is_sunny and is_raining:
    print("It is Sunny")
    
if is_sunny or is_raining:
    print("It is raining")

It is raining

# 1. Creating Lists

In [80]:
my_list = []
print(my_list)

[]

In [82]:
numbers = [10, 20, 30, 40, 90]
print(numbers)

[10, 20, 30, 40, 90]

In [84]:
fruits = ["mango", "banana", "orange"]
print(fruits)

['mango', 'banana', 'orange']

In [86]:
mixed_list = [1, "hello", 6.15, True]
print(mixed_list)

[1, 'hello', 6.15, True]

In [88]:
matrix = [[10, 21, 32], [44, 55, 67], [70, 80, 90]]
print(matrix)

[[10, 21, 32], [44, 55, 67], [70, 80, 90]]

# 2. Accessing List Elements (Indexing)

In [90]:
fruits = ["water melon", "orange", "mango", "date"]

print(fruits[0])   
print(fruits[2])   
print(fruits[-1])  
print(fruits[-3])

water melon
mango
date
orange

In [92]:

print(matrix[0][1])

21

# 3. Slicing Lists

In [94]:
numbers = [0, 14, 22, 32, 42, 53, 63, 74, 85, 96]

print(numbers[2:7])    
print(numbers[:5])     
print(numbers[5:])     
print(numbers[:])      
print(numbers[::2])    
print(numbers[::-1])

[22, 32, 42, 53, 63]
[0, 14, 22, 32, 42]
[53, 63, 74, 85, 96]
[0, 14, 22, 32, 42, 53, 63, 74, 85, 96]
[0, 22, 42, 63, 85]
[96, 85, 74, 63, 53, 42, 32, 22, 14, 0]

# 4. Modifying Lists

# Changing Elements

In [96]:
fruits = ["straberry", "water melon", "banana"]
fruits[1] = "orange" 
print(fruits)

['straberry', 'orange', 'banana']

# Adding Elements

In [102]:
my_list = [23, 32, 45]
my_list.append(43)
print(my_list)

[23, 32, 45, 43]

In [104]:
my_list = [15, 24, 54]
my_list.insert(3, 100) 
print(my_list)

[15, 24, 54, 100]

In [106]:
list1 = [2, 3, 4]
list2 = [3, 4]
list1.extend(list2)
print(list1)

[2, 3, 4, 3, 4]

In [108]:
list3 = [8, 2]
list4 = [7, 6]
combined_list = list3 + list4
print(combined_list)

[8, 2, 7, 6]

# Removing Elements

In [111]:
my_list = [4, 5, 7, 8, 9]
my_list.remove(5) 
print(my_list)

[4, 7, 8, 9]

In [113]:
my_list = [100, 200, 300, 400]
removed_item = my_list.pop(1) 
print(removed_item) 
print(my_list)      

last_item = my_list.pop() 
print(last_item)  
print(my_list)

200
[100, 300, 400]
400
[100, 300]

In [116]:
my_list = [10, 45, 30, 40, 50]
del my_list[2] 
print(my_list) 

del my_list[1:3] 
print(my_list)

[10, 45, 40, 50]
[10, 50]

In [118]:
my_list = [11, 12, 13]
my_list.clear()
print(my_list)

[]

In [120]:
my_list = [10, 20, 30, 40, 50]
print(len(my_list))

5

In [122]:
my_list = ["a", "b", "c", "b"]
print(my_list.index("b")) 
print(my_list.index("b", 2))

1
3

In [124]:
my_list = [10, 20, 20, 30, 20, 40]
print(my_list.count(2))

0

In [126]:
numbers = [30, 10, 40, 10, 50, 90, 20]
numbers.sort()
print(numbers) 

words = ["banana", "apple", "cherry"]
words.sort(reverse=True)
print(words)

[10, 10, 20, 30, 40, 50, 90]
['cherry', 'banana', 'apple']

In [128]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

# Tuple

In [132]:
numbers_tuple = (15, 26, 37, 48, 50)
print(numbers_tuple)

(15, 26, 37, 48, 50)

In [134]:
fruits_tuple = ("apple", "banana", "cherry")
print(fruits_tuple)

('apple', 'banana', 'cherry')

In [136]:
mixed_tuple = (1, "hello", 5.12, False)
print(mixed_tuple)

(1, 'hello', 5.12, False)

In [138]:
coordinates = ((12, 23), (33, 45), (53, 65))
print(coordinates)

((12, 23), (33, 45), (53, 65))

In [141]:
fruits_tuple = ("apple", "banana", "cherry", "date")

print(fruits_tuple[1])   
print(fruits_tuple[2])   
print(fruits_tuple[-1])

banana
cherry
date

In [143]:
nested_tuple = ((100, 200), (300, 400))
print(nested_tuple[0][1])

200

In [145]:
numbers_tuple = (0, 11, 22, 33, 44, 45,56, 57, 68, 89)

print(numbers_tuple[2:7])
print(numbers_tuple[:5])   
print(numbers_tuple[5:])   
print(numbers_tuple[:])    
print(numbers_tuple[::2])  
print(numbers_tuple[::-1])

(22, 33, 44, 45, 56)
(0, 11, 22, 33, 44)
(45, 56, 57, 68, 89)
(0, 11, 22, 33, 44, 45, 56, 57, 68, 89)
(0, 22, 44, 56, 68)
(89, 68, 57, 56, 45, 44, 33, 22, 11, 0)

In [148]:
my_tuple = (11, 22, 33)

In [150]:
tuple1 = (1, 2)
tuple2 = (3, 4)
combined_tuple = tuple1 + tuple2
print(combined_tuple)

(1, 2, 3, 4)

In [152]:
repeated_tuple = ("a",) * 4
print(repeated_tuple)

('a', 'a', 'a', 'a')

In [154]:
my_tuple = ("a", "b", "c","d","e")
print(my_tuple.index("b"))

1

In [156]:
my_tuple = ("yellow", "pink", "brown")
print("geen" in my_tuple)    # Output: True
print("yellow" not in my_tuple)

False
False

# Dictionary

In [158]:
my_dict = {}
print(my_dict)

{}

In [164]:
person = {
    "name": "shazi",
    "age": 35,
    "city": "risalpur"
}
print(person)

{'name': 'shazi', 'age': 35, 'city': 'risalpur'}

In [166]:
grades = {
    10: "A",
    20: "B+",
    30: "C"
}
print(grades)

{10: 'A', 20: 'B+', 30: 'C'}

In [168]:
mixed_keys = {
    "name": "shazi",
    1: "two",
    (3, 4): "a tuple key" # Tuples can be keys because they are immutable
}
print(mixed_keys)

{'name': 'shazi', 1: 'two', (3, 4): 'a tuple key'}

In [170]:
animal = dict(type="dog", breed="Labrador", age=10)
print(animal)

{'type': 'dog', 'breed': 'Labrador', 'age': 10}

In [172]:
items_list = [("apple", 1), ("banana", 2), ("cherry", 3)]
fruits_inventory = dict(items_list)
print(fruits_inventory)

{'apple': 1, 'banana': 2, 'cherry': 3}

# Accessing Dictionary Values

In [174]:
person = {
    "name": "shahzaib",
    "age": 22,
    "city": "Risalpur"
}

print(person["name"]) 
print(person["age"])

shahzaib
22

In [175]:
print(person.get("city"))     
print(person.get("country"))  
print(person.get("zip_code", "N/A"))

Risalpur
None
N/A

# Modifying Dictionaries

In [177]:
person = {
    "name": "shazi",
    "age": 22,
    "city": "RISALPUR"
}

person["age"] = 22 # Change Alice's age
print(person)

{'name': 'shazi', 'age': 22, 'city': 'RISALPUR'}

In [185]:
person = {
    "name": "shazi",
    "age": 22,
    "city": "Risalpur"
}

person["occupation"] = "Teacher" 
print(person)

{'name': 'shazi', 'age': 22, 'city': 'Risalpur', 'occupation': 'Teacher'}

In [187]:
person = {
    "name": "shazi",
    "age": 22,
    "city": "Risalpur"
}

del person["city"]
print(person)

{'name': 'shazi', 'age': 22}

In [189]:
person = {
    "name": "shazi",
    "age": 22,
    "city": "risalpur"
}

removed_age = person.pop("age")
print(removed_age) 
print(person)

22
{'name': 'shazi', 'city': 'risalpur'}

In [191]:
job = person.pop("occupation", "Unemployed")
print(job)   
print(person)

Unemployed
{'name': 'shazi', 'city': 'risalpur'}

In [193]:
person = {
    "name": "shazi",
    "age": 22,
    "city": "Risalpur"
}

last_item = person.popitem()
print(last_item) 
print(person)

('city', 'Risalpur')
{'name': 'shazi', 'age': 22}

In [195]:
person = {"name": "shazi", "age": 22}
person.clear()
print(person)

{}

In [197]:
my_dict = {"a": 8, "b": 8}
print(len(my_dict))

2

In [199]:
dict1 = {"a": 8, "b": 8}
dict2 = {"b": 6, "c": 8}

dict1.update(dict2)
print(dict1)

{'a': 8, 'b': 6, 'c': 8}

In [201]:
original_dict = {"name": "SHAZI", "age": 22}
copied_dict = original_dict.copy()
print(copied_dict)

{'name': 'SHAZI', 'age': 22}

In [203]:
copied_dict["age"] = 22
print(original_dict) 
print(copied_dict)

{'name': 'SHAZI', 'age': 22}
{'name': 'SHAZI', 'age': 22}

In [205]:
keys = ["k3", "k4", "k6"]
default_value = 0
new_dict = dict.fromkeys(keys, default_value)
print(new_dict)

{'k3': 0, 'k4': 0, 'k6': 0}

# set

 # Creating Sets

In [207]:
my_set = set()
print(my_set)

set()

In [209]:
numbers_set = {11, 22, 33, 44, 55}
print(numbers_set)

{33, 22, 55, 11, 44}

In [211]:
my_list = [13, 42, 52, 63, 87, 84, 95]
unique_numbers = set(my_list)
print(unique_numbers)

{42, 13, 52, 84, 87, 95, 63}

In [213]:
mixed_set = {1, "hello", 6.14, True, (15, 62)} 
print(mixed_set)

{1, (15, 62), 'hello', 6.14}

# Adding Elements to a Set

In [219]:
my_set = {1, 2, 3}
my_set.add(4 )
print(my_set) 

my_set.add(2) 
print(my_set)

{1, 2, 3, 4}
{1, 2, 3, 4}

In [221]:
my_set = {11, 22, 33}
my_set.update([43, 53, 64])
print(my_set) 

my_set.update({53, 47, 28})
print(my_set)

{64, 33, 11, 43, 53, 22}
{64, 33, 11, 43, 47, 53, 22, 28}

# Removing Elements from a Set

In [224]:
my_set = {11, 22, 13, 41}
my_set.remove(13)
print(my_set)

{41, 11, 22}

In [227]:
my_set = {11, 22, 33, 44}
my_set.discard(22)
print(my_set) 

my_set.discard(99) 
print(my_set)

{33, 11, 44}
{33, 11, 44}

In [229]:
set_a = {11, 32, 43,54}
set_b = {30, 49, 58, 67}
set_c = {15, 42}
print(set_a | set_b)       
print(set_a.union(set_b))

{32, 67, 11, 43, 49, 54, 58, 30}
{32, 67, 11, 43, 49, 54, 58, 30}

In [231]:
print(set_a & set_b)             
print(set_a.intersection(set_b))

set()
set()

In [233]:
print(set_a - set_b)              
print(set_a.difference(set_b))    print(set_a ^ set_b)                         # Output: {1, 2, 5, 6}
print(set_a.symmetric_difference(set_b))

print(set_b - set_a)

{32, 43, 11, 54}
{32, 43, 11, 54}
{49, 58, 67, 30}

In [235]:
print(set_a ^ set_b)                         
print(set_a.symmetric_difference(set_b))

{32, 67, 11, 43, 49, 54, 58, 30}
{32, 67, 11, 43, 49, 54, 58, 30}

In [237]:
print(set_c <= set_a)            
print(set_a.issubset(set_c))

False
False

In [239]:
set_d = {73, 89}
print(set_a.isdisjoint(set_b)) 
print(set_a.isdisjoint(set_d))

True
True

In [241]:
my_set = {13, 42, 53, 64}
print(len(my_set))

4

In [243]:
my_set = {"pea", "water melon", "orange"}
print("banana" in my_set)    
print("grape" not in my_set)

False
True

In [244]:
my_list = [13, 42, 25, 63, 41]
unique_elements = list(set(my_list)) # Convert list to set (removes duplicates), then back to list
print(unique_elements)

[41, 42, 13, 25, 63]